<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #desc {
        display: inline;
      }

      .image {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <% if (data && data.urlToImage) { %>
    <img class="image" src="<%= data.urlToImage %>" alt="image" />
    <% } %>
    <h1><%= data.title %></h1>
    <p id="desc"><%= data.description %>...</p>
    <a href="<%= data.url %>" target="_blank">Read More</a><br />
    <% if (!bookmark) { %>
    <a href="/bookmark/<%= index %>"><button>bookmark</button></a>
    <% } %> <% if (bookmark) { %>
    <a href="/bookmarks/remove/<%= index %>"
      ><button>remove bookmark</button></a
    >
    <% } %>
  </body>
</html>
